
.grid {
    z-index: -1;
    position: fixed;
    inset: 0; 
    width: 100%;
    height: 100%;
    background-color: black;
}

.grid-background {
    height: 100%;
    opacity: 0.05;
    z-index: -1;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
}

.top-button {
    position: fixed;
    z-index: 99;
    bottom: 45px;
    right: 45px;
    background: var(--primary-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 20px var(--primary);
}



/*__________________________ header container __________________________ */


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(15, 15, 25, 0.5); 
    backdrop-filter: blur(10px);      
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3; 
}

.header::before {
    content: '';
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 20%;
    background: var(--primary-gradient);
    filter: blur(60px);
    opacity: 0.3;
    animation: glowPulseHeader 5s ease-in-out infinite;
    z-index: -1;

}

@keyframes glowPulse {
  0% { opacity: 0.4; transform: translate(-50%, -50%) scale(1); }
  50% { opacity: 0.6; transform: translate(-50%, -50%) scale(1.1); }
  100% { opacity: 0.4; transform: translate(-50%, -50%) scale(1); }
}

@keyframes glowPulseHeader {
  0% { opacity: 0.5; transform: translate(-50%, -50%) scale(1); }
  50% { opacity: 0.5; transform: translate(-50%, -50%) scale(1.1); }
  100% { opacity: 0.4; transform: translate(-50%, -50%) scale(1); }
}

.header_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header_wrapper >h4 {
    font-weight: 600 !important;
}

.header_navbar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header_burger {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    opacity: 0.7;  
    background-color: var(--header-nav);
    transition: all 0.3s ease;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.header_burger:hover {
    opacity: 1;  
    text-align: center;
    transform: scale(1.05);
    transform-origin: center center;
}

#offcanvasNavbar {
    background: var(--header-bg) !important; 
    padding: 30px !important;
}

.header_navbar-modal {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: start;
}

.text-reset {
    color: white !important;
}







/*__________________________ main container __________________________ */

.section {
    height: 100vh;
}

.main_wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
}

.main_photo{
    width: 410px;
    height: 410px;
    border-radius: 80px;
    background: var(--primary-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 35px var(--primary);
}

.main_photo > img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 75px;
}

.main_me > h4 {
    margin-top: 15px;
    opacity: 0.7;
}

.main_me > p {
    margin-top: 15px !important;
    opacity: 0.6;
}

.main_me-name {
    position: relative;
}

.main_me-name::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160%;
    height: 100%;
    background: var(--primary-gradient);
    filter: blur(60px);
    opacity: 0.5;
    animation: glowPulse 5s ease-in-out infinite;
    z-index: -1;
    border-radius: 50%;
}

.main_me-skills {
    margin-top: 25px;
    display: flex;
    gap: 10px;
}

.main_me-skills > span{
    background-color: var(--header-nav);
    border-radius: 10px;
    padding: 10px 15px;
    opacity: 0.8;
    transition: all 0.3s ease; 
    cursor: pointer;
}

.main_me-skills > span:hover{
    background-color: var(--header-bg);
    opacity: 1;
}

.main_me-btns {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.main_mouse {
    position: absolute;
    bottom: 45px;
    right: 50%;
    left: 50%;
    width: 39px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: mousePulse 3s ease infinite;

}

@keyframes mousePulse {
  0% {transform: translateY(0);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(0);}

}


/*__________________________ about container __________________________ */

.about_wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 40px;
}

.about {
    width: 70%;
    padding: 40px;
    background: rgba(27, 27, 44, 0.5); 
    backdrop-filter: blur(5px);      
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(149, 148, 148, 0.403);
}

.about > h3 {
    padding: 35px;
    border-radius: 50%;
    background: rgba(35, 35, 47, 0.5); 
    backdrop-filter: blur(10px);      
    -webkit-backdrop-filter: blur(10px);
}

.about > p {
    width: 80%;
    line-height: 2 !important;
    opacity: 0.8;
}

/*__________________________ education container __________________________ */

.education_wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 40px;
}

.education_main > h4 {
    padding: 20px;
    border-radius: 50%;
    background: rgba(27, 27, 44, 0.5); 
    backdrop-filter: blur(5px);      
    -webkit-backdrop-filter: blur(5px);
}

.education_center > h4 {
    padding: 20px;
    border-radius: 50%;
    background: rgba(35, 35, 47, 0.5); 
    backdrop-filter: blur(10px);      
    -webkit-backdrop-filter: blur(10px);
}

.education_texts {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.education_texts > h5 {
    font-weight: 600;
}

.education_texts > p {
    opacity: 0.7;   
}

.education_years {
    opacity: 0.4 !important;
}

.education_main {
    padding: 20px;
    margin-bottom: 45px;
    background: rgba(27, 27, 44, 0.5); 
    backdrop-filter: blur(10px);      
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(149, 148, 148, 0.403);
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0.9;
}

.education_courses {
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
}


.education_center {
    display: flex;
    align-items: center;
    gap: 15px;
}

.education {
    width: 48%;
    padding: 20px;
    background: rgba(27, 27, 44, 0.5); 
    backdrop-filter: blur(5px);      
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    gap: 30px;
    align-items: start;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(149, 148, 148, 0.403);
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0.9;
}

.education:hover {
    opacity: 1 !important;
    transition: all 0.3s ease !important;
    transform: scale(1.04) !important;
    transform-origin: center center !important;
}

.education_main:hover{
    opacity: 1 !important;
    transition: all 0.3s ease !important;
    transform: scale(1.02) !important;
    transform-origin: center center !important;
}

.finished {
    border: 1px solid var(--green);
    background-color: #79eea650;
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--green);
    font-size: 0.875rem;

}

.processed {
    border: 1px solid var(--yellow);
    background-color: #FFDF2050;
    padding: 5px 10px;
    text-wrap: nowrap;
    border-radius: 10px;
    font-size: 0.875rem;
    color: var(--yellow);
}

.stopped {
    border: 1px solid var(--red);
    background-color: #d6080850;
    padding: 5px 10px;
    text-wrap: nowrap;
    border-radius: 10px;
    font-size: 0.875rem;
    color: var(--red);
}

/*__________________________ portfolio container __________________________ */


.portfolio_wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 40px;
}

.portfolio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
}


/*__________________________ contacts container __________________________ */

.contacts_section-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.contacts_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contacts_blocks {
    display: flex;
    text-align: center;
    gap: 25px;
    height: 40%;
}

.contacts_sources {
    width: 50%;
    flex-grow: 1;
    padding: 20px 45px 45px 45px;
    background: rgba(27, 27, 44, 0.5); 
    backdrop-filter: blur(10px);      
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(149, 148, 148, 0.403);
}

.contacts_work {
    width: 50%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contacts_work-preferences {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(32, 35, 63, 0.5);  
    backdrop-filter: blur(10px);      
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(149, 148, 148, 0.403);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contacts_work-preferences  p {
    font-size: 0.9rem !important;
    opacity: 0.6;
}

.contacts_work-isavaliable > span {
    color: var(--green) !important; 
    font-size: 1.2rem !important;
    font-weight: 600 !important;
}

.contacts_work-isavaliable > span::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--green);
    border-radius: 50%; 
    margin-right: 7px;
    text-align: center;
}

.contacts_work-cv {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 20px;
    background: rgba(42, 32, 63, 0.5); 
    backdrop-filter: blur(10px);      
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(149, 148, 148, 0.403);
}

.contacts_work-cv > a {
    background: var(--primary-gradient);
    padding: 15px 30px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    border: none;
    font-weight: 600;
    font-size: 1.1rem !important;
    color: white;
    transition: all 0.3s ease;
    opacity: 0.8;
    cursor: pointer;
}

.contacts_work-cv > a:hover {
    transition: all 0.3s ease !important;
    transform: scale(1.05) !important;
    transform-origin: center center !important;
    opacity: 1;
}

.contacts_sources-links {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
}

.contacts_sources-links > a {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.3rem !important;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.contacts_sources-links > a:hover {
    opacity: 1;
}


.contacts_sources-links > a > img{
    width: 30px;
    height: 30px;
}

.preferences_wrapper {
    display: flex;
    gap: 30px;
}

.preferences_wrapper-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.preferences_wrapper-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}




.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 50px 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05), rgb(0, 0, 0) 100%);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.footer > h5 {
    font-size: 1rem !important;
    opacity: 0.8;
}

.footer > p {
    font-size: 0.8rem !important;
    opacity: 0.5;

}

.last_section {
        position: relative;
    }

/* Смартфоны */

@media (max-width: 400px) {
    .container {
        max-width: 400px;
        width: 400px;
        margin: 0 auto;
        text-wrap: wrap;
    }
    
    .main_me > h1 {
        text-wrap: wrap;
    }
}


@media (max-width: 480px) {
    .container {
        max-width: 440px;
        width: 440px;
        margin: 0 auto;
    }

    .header_navbar {
        display: none;
    }

    .header_wrapper {
        display: flex;
        justify-content: center;
    }

    .header_burger {
        display: flex;
        position: absolute;
        right: 15px;
    }

    .main_wrapper {
        flex-direction:column-reverse;
        justify-content: center;
        text-align: center;
        gap: 45px;
    }

    .main_photo>img {
        width: 250px;
        height: 250px;
    }

    .main_photo {
        width: 260px;
        height: 260px;
    }

    .section {
        height: 120vh;
    }

    .main_me-name {
        font-size: 2.5rem !important;
    }
    .main_me > h4 {
        margin-top: 15px !important;
        font-size: 1.5rem !important;
    }
    .main_me > p {
        font-size: 1rem !important;
    }

    .main_me-btns {
        display: flex;
        justify-content: center;
    }

    .main_me-skills {
        justify-content: center;
    }
    
    .about {
        width: 100%;
        padding: 10px;
    }

    .about > p {

        font-size: 0.8rem !important;
    }

    .education_main {
        padding: 10px;
    }

    .education_main > h4 {
        font-size: 1rem !important;
    }

    .education_texts > h5 {
        font-size: 1rem !important;
    }

    .education_texts > p {
        font-size: 0.7rem !important;
    }

    .education {
        padding: 10px;
        width: 100%;
    }

    .education > span {
        font-size: 0.7rem !important;
    }

    .education_center > h4 {
        font-size: 1rem !important;
    }

    .contacts_blocks {
        flex-direction: column;
    }

    .contacts_sources, .contacts_work, .contacts_work-preferences  {
        width: 100%;
    }

    .footer {
        text-align: center;
    }

    

}

/* Планшеты */


@media (min-width: 480px) and (max-width: 768px) {
    .container {
        max-width: 740px;
        width: 100%;
        margin: 0 auto;

    }

    .header_navbar {
        display: none;
    }

    .header_wrapper {
        display: flex;
        justify-content: center;
    }

    .header_burger {
        display: flex;
        position: absolute;
        right: 45px;
    }

    .main_wrapper {
        flex-direction:column-reverse;
        justify-content: center;
        text-align: center;
        gap: 45px;
    }

    .main_photo>img {
        width: 250px;
        height: 250px;
    }

    .main_photo {
        width: 260px;
        height: 260px;
    }

    .main_me-skills {
        justify-content: center;
    }

    .section {
        height: 130vh;
    }

    .main_me-name {
        font-size: 2.5rem !important;
    }
    .main_me > h4 {
        margin-top: 15px !important;
        font-size: 1.5rem !important;
    }
    .main_me > p {
        font-size: 1rem !important;
    }

    .main_me-btns {
        display: flex;
        justify-content: center;
    }
    
    .about {
        width: 100%;
        padding: 10px;
    }

    .about > p {

        font-size: 0.8rem !important;
    }

    .education_main {
        padding: 10px;
    }

    .education_main > h4 {
        font-size: 1rem !important;
    }

    .education_texts > h5 {
        font-size: 1rem !important;
    }

    .education_texts > p {
        font-size: 0.7rem !important;
    }

    .education {
        padding: 10px;
        width: 100%;
    }

    .education > span {
        font-size: 0.7rem !important;
    }

    .education_center > h4 {
        font-size: 1rem !important;
    }

    .contacts_blocks {
        flex-direction: column;
    }

    .contacts_sources, .contacts_work, .contacts_work-preferences  {
        width: 100%;
    }

    .footer {
        text-align: center;
    }

    

}